[submodule "lib/forge-std"]
	branch = v1.9.1
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	ignore = dirty
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.1
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	ignore = dirty
[submodule "lib/subnet-evm"]
	branch = v0.6.1
	path = lib/subnet-evm
	url = https://github.com/ava-labs/subnet-evm
