name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  solidity-unit-tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        run: ./scripts/install_foundry.sh

      - name: Run unit tests
        run: |
          export PATH=$PATH:$HOME/.foundry/bin
          cd contracts/
          forge test -vvv
